  <div class="container">
     <div class="row">

           <div class="mx-auto col-lg-5 col-md-5 col-10">
               <img src="assets/images/sebastijan.png" class="img-fluid" width="200" height="200">
           </div>

            <div class="d-flex flex-column justify-content-center align-items-center col-lg-7 col-md-7 col-12">
                 <div class="hero-text">

                     <h1 class="hero-title">Sebastijan Kokai</h1>

                     <a href="#" class="email-link">
                         helloWorld@hello.com
                     </a>

                 </div>
             </div>

     </div>
 </div>
